<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2022 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          https://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopano.nostalgia.mapper.MovieMapper">
    <resultMap id="movieResultMap" type="com.kopano.nostalgia.bean.vo.MovieVo">
        <id column="movie_id" property="movieId"/>
        <result column="ori_name" property="oriName"/>
        <result column="chinese_name" property="chineseName"/>
        <result column="release_date" property="releaseDate"/>
        <result column="rank_order" property="order"/>

        <association property="director" javaType="com.kopano.nostalgia.bean.vo.DirectorVo">
            <id column="director_id" property="directorId"/>
            <result column="director_name" property="chineseName"/>
        </association>
    </resultMap>

    <select id="selectMovieById" resultMap="movieResultMap">
        select a.movie_id,
               a.ori_name,
               a.chinese_name,
               a.release_date,
               dt.director_id,
               dt.chinese_name as 'director_name'
        from movie_t a
                 left join director_t dt on a.director_id = dt.director_id
        where a.movie_id = #{id}
    </select>

    <select id="selectMoviePage" resultMap="movieResultMap">
        select a.movie_id,
               a.ori_name,
               a.chinese_name,
               a.release_date,
               dt.director_id,
               dt.chinese_name as 'director_name'
        from movie_t a
                 left join director_t dt on a.director_id = dt.director_id
    </select>

    <select id="selectMovieByRankingId" resultMap="movieResultMap">
        select a.movie_id,
               a.ori_name,
               a.chinese_name,
               a.release_date,
               dt.director_id,
               dt.chinese_name as 'director_name',
               rlmt.rank_order
        FROM movie_t a
                 LEFT JOIN ranking_list_movie_t rlmt ON a.movie_id = rlmt.movie_id
                 LEFT JOIN ranking_list_t rl ON rlmt.ranking_list_id = rl.list_id
                 left join director_t dt on a.director_id = dt.director_id
        WHERE rl.list_id = #{id}
        ORDER BY rlmt.rank_order
    </select>
</mapper>